# Play with mysql data

## 1. Create connection to the local mysql server
## 2. Create a database
## 3. Create a table within database
## 4. Insert/query data into/from table

# using library: MySQLdb
- pip3 install mysqlclient

In [1]:
import MySQLdb 
myuser = 'root'
mypassword = 'root'

# Create connection

In [3]:
db_connection= MySQLdb.connect("localhost",myuser,mypassword)

# Create a database

In [5]:
cursor = db_connection.cursor()

# execute SQL query using execute() method.
cursor.execute("Create database test")

# create a sample table

In [6]:
cursor.execute("use test")

0

In [8]:
query = "CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))"
cursor.execute(query)

In [10]:
query = "CREATE TABLE customers2 (name VARCHAR(255), address VARCHAR(255))"
cursor.execute(query)

0

# See the tables in test database

In [11]:
cursor.execute("SHOW TABLES")

for x in cursor:
  print(x)

('customers',)
('customers2',)

# Insert some sample data into customers table

In [41]:
# INSERT INTO table_name (column1, column2, column3, ...) VALUES (value1, value2, value3, ...); 

name = "jashan-3"
address = "ucr"
query = "INSERT into customers (name, address) Values ('"+str(name) +"','" + str(address) +"');"

In [42]:
#see the sql
print(query)

INSERT into customers (name, address) Values ('jashan-3','ucr');

In [43]:
cursor.execute(query)

1

# See the data

In [48]:
cursor.execute("select * from customers")
myresult = cursor.fetchall()

In [49]:
for row in myresult:
    print(row)

In [56]:
# delete the data
query = "delete from customers"
cursor.execute(query)

1100

# Insert data with loop

In [57]:
for i in range(100):
    name = "jashan-"+str(i)
    address = "ucr"+str(i)
    query = "INSERT into customers (name, address) Values ('"+str(name) +"','" + str(address) +"');"
    
    #print(query)
    
    cursor.execute(query)

In [58]:
cursor.execute("select * from customers")
myresult = cursor.fetchall()


for row in myresult:
    print(row)

('jashan-0', 'ucr0')
('jashan-1', 'ucr1')
('jashan-2', 'ucr2')
('jashan-3', 'ucr3')
('jashan-4', 'ucr4')
('jashan-5', 'ucr5')
('jashan-6', 'ucr6')
('jashan-7', 'ucr7')
('jashan-8', 'ucr8')
('jashan-9', 'ucr9')
('jashan-10', 'ucr10')
('jashan-11', 'ucr11')
('jashan-12', 'ucr12')
('jashan-13', 'ucr13')
('jashan-14', 'ucr14')
('jashan-15', 'ucr15')
('jashan-16', 'ucr16')
('jashan-17', 'ucr17')
('jashan-18', 'ucr18')
('jashan-19', 'ucr19')
('jashan-20', 'ucr20')
('jashan-21', 'ucr21')
('jashan-22', 'ucr22')
('jashan-23', 'ucr23')
('jashan-24', 'ucr24')
('jashan-25', 'ucr25')
('jashan-26', 'ucr26')
('jashan-27', 'ucr27')
('jashan-28', 'ucr28')
('jashan-29', 'ucr29')
('jashan-30', 'ucr30')
('jashan-31', 'ucr31')
('jashan-32', 'ucr32')
('jashan-33', 'ucr33')
('jashan-34', 'ucr34')
('jashan-35', 'ucr35')
('jashan-36', 'ucr36')
('jashan-37', 'ucr37')
('jashan-38', 'ucr38')
('jashan-39', 'ucr39')
('jashan-40', 'ucr40')
('jashan-41', 'ucr41')
('jashan-42', 'ucr42')
('jashan-43', 'ucr43')
('jashan-44', 'ucr44')
('jashan-45', 'ucr45')
('jashan-46', 'ucr46')
('jashan-47', 'ucr47')
('jashan-48', 'ucr48')
('jashan-49', 'ucr49')
('jashan-50', 'ucr50')
('jashan-51', 'ucr51')
('jashan-52', 'ucr52')
('jashan-53', 'ucr53')
('jashan-54', 'ucr54')
('jashan-55', 'ucr55')
('jashan-56', 'ucr56')
('jashan-57', 'ucr57')
('jashan-58', 'ucr58')
('jashan-59', 'ucr59')
('jashan-60', 'ucr60')
('jashan-61', 'ucr61')
('jashan-62', 'ucr62')
('jashan-63', 'ucr63')
('jashan-64', 'ucr64')
('jashan-65', 'ucr65')
('jashan-66', 'ucr66')
('jashan-67', 'ucr67')
('jashan-68', 'ucr68')
('jashan-69', 'ucr69')
('jashan-70', 'ucr70')
('jashan-71', 'ucr71')
('jashan-72', 'ucr72')
('jashan-73', 'ucr73')
('jashan-74', 'ucr74')
('jashan-75', 'ucr75')
('jashan-76', 'ucr76')
('jashan-77', 'ucr77')
('jashan-78', 'ucr78')
('jashan-79', 'ucr79')
('jashan-80', 'ucr80')
('jashan-81', 'ucr81')
('jashan-82', 'ucr82')
('jashan-83', 'ucr83')
('jashan-84', 'ucr84')
('jashan-85', 'ucr85')
('jashan-86', 'ucr86')
('jashan-87', 'ucr87')
('jashan-88', 'ucr88')
('jashan-89', 'ucr89')
('jashan-90', 'ucr90')
('jashan-91', 'ucr91')
('jashan-92', 'ucr92')
('jashan-93', 'ucr93')
('jashan-94', 'ucr94')
('jashan-95', 'ucr95')
('jashan-96', 'ucr96')
('jashan-97', 'ucr97')
('jashan-98', 'ucr98')
('jashan-99', 'ucr99')