# Date 1st jan 2022

In [1]:
import MySQLdb 
myuser = 'root'
mypassword = 'root'

In [2]:
db_connection= MySQLdb.connect("localhost",myuser,mypassword)

In [3]:
cursor = db_connection.cursor()

In [4]:
cursor.execute("Create database test2")

1

# Create database

In [7]:
query = "CREATE DATABASE companyHR;"
cursor.execute(query)

1

In [10]:
cursor.execute("show databases;")

res = cursor.fetchall()

for r in res:
    print(r)

('companyHR',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('test',)
('test2',)

In [6]:
cursor.execute("show tables;")

0