# Play with mysql data using sqlalchemy and pandas

In [26]:
from sqlalchemy import create_engine
username = 'root'
password = 'root'
database = 'test'

conn_string = "mysql://" + username+":"+password+"@localhost/"+database

#print(conn_string)
engine = create_engine(conn_string)

In [5]:
import pandas as pd

In [6]:
from sklearn.datasets import fetch_california_housing

In [7]:
housing_pd = fetch_california_housing(as_frame=True)

In [8]:
print(type(housing_pd))

<class 'sklearn.utils.Bunch'>

# Check all the tables in the test database

In [27]:
import MySQLdb 
myuser = 'root'
mypassword = 'root'
database = 'test'

db_connection= MySQLdb.connect("localhost",myuser,mypassword, database)

In [30]:
cursor = db_connection.cursor()

In [31]:
cursor.execute("SHOW TABLES")

for x in cursor:
  print(x)

('customers',)
('customers2',)
('myHousing',)
('myHousing2',)
('synthetic',)

# Insert a new table using pandas dataframe

In [29]:
housing_pd['data'].to_sql('myHousing',engine)

# See the data in myHousing

In [24]:
cursor.execute("select * from myHousing LIMIT 10")

for x in cursor:
  print(x)

(0, 8.3252, 41.0, 6.984126984126984, 1.0238095238095237, 322.0, 2.5555555555555554, 37.88, -122.23)
(1, 8.3014, 21.0, 6.238137082601054, 0.9718804920913884, 2401.0, 2.109841827768014, 37.86, -122.22)
(2, 7.2574, 52.0, 8.288135593220339, 1.073446327683616, 496.0, 2.8022598870056497, 37.85, -122.24)
(3, 5.6431, 52.0, 5.8173515981735155, 1.0730593607305936, 558.0, 2.547945205479452, 37.85, -122.25)
(4, 3.8462, 52.0, 6.281853281853282, 1.0810810810810811, 565.0, 2.1814671814671813, 37.85, -122.25)
(5, 4.0368, 52.0, 4.761658031088083, 1.1036269430051813, 413.0, 2.139896373056995, 37.85, -122.25)
(6, 3.6591, 52.0, 4.9319066147859925, 0.9513618677042801, 1094.0, 2.1284046692607004, 37.84, -122.25)
(7, 3.12, 52.0, 4.797527047913447, 1.061823802163833, 1157.0, 1.7882534775888717, 37.84, -122.25)
(8, 2.0804, 42.0, 4.294117647058823, 1.1176470588235294, 1206.0, 2.026890756302521, 37.84, -122.26)
(9, 3.6912, 52.0, 4.970588235294118, 0.9901960784313726, 1551.0, 2.172268907563025, 37.84, -122.25)

In [25]:
cursor.execute("describe myHousing")

for x in cursor:
  print(x)

('index', 'bigint', 'YES', 'MUL', None, '')
('MedInc', 'double', 'YES', '', None, '')
('HouseAge', 'double', 'YES', '', None, '')
('AveRooms', 'double', 'YES', '', None, '')
('AveBedrms', 'double', 'YES', '', None, '')
('Population', 'double', 'YES', '', None, '')
('AveOccup', 'double', 'YES', '', None, '')
('Latitude', 'double', 'YES', '', None, '')
('Longitude', 'double', 'YES', '', None, '')