# Play with mysql data

## 1. Create connection to the local mysql server
## 2. Create a database
## 3. Create a table within database
## 4. Insert/query data into/from table

# using library: MySQLdb
- pip3 install mysqlclient

In [1]:
import MySQLdb 
myuser = 'root'
mypassword = 'root'

# Create connection

In [2]:
db_connection= MySQLdb.connect("localhost","root","root")

# Create a database

In [3]:
cursor = db_connection.cursor()

# execute SQL query using execute() method.
cursor.execute("Create database test")

1

# create a sample table

In [6]:
cursor.execute("use test")

0

In [7]:
cursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

0

# See the tables in test database

In [9]:
cursor.execute("SHOW TABLES")

for x in cursor:
  print(x)

('customers',)

# Insert some sample data into customers table

In [18]:
# INSERT INTO table_name (column1, column2, column3, ...)
# VALUES (value1, value2, value3, ...); 

name = "jashan"
address = "ucr"
insert_values = "INSERT into customers (name, address) Values ('"+str(name) +"','" + str(address) +"')"

In [19]:
#see the sql
insert_values

"INSERT into customers (name, address) Values ('jashan','ucr')"

In [20]:
cursor.execute(insert_values)

1

# See the data

In [27]:
cursor.execute("select * from customers")
myresult = cursor.fetchall()

In [28]:
for row in myresult:
    print(row)

('jashan', 'ucr')